html,body{height:100%;margin:0}body{font-family:'Oxygen',sans-serif}.nopadding{padding:0 !important;margin:0 !important}.container{max-width:1200px !important}.sindo-row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}
