@import "global";

footer #footer{
  	background-color: #fff;
  	padding: 50px 0px 50px 0px;
}

footer #footer-detail{
	background-repeat: no-repeat;
	background-size: 100%;
  	background-image:
  	url("../images/bg-footer-detail.jpg");
  	background-position:
  	top;
  	background-color: #fff;
  	padding: 30px 250px 30px 250px;
}

.media-sindo-box{
	margin-top: 100px;
}

.media-sindo{
	width: 300px;
	position: absolute;
	margin-top: -100px;
	right: 50px;
}

.logo-footer,{
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 300px;
}

.copy{
	margin-top: 15px;
	font-size: 16px;
	color: #dd0268;
	text-align: center;
}

.social {
	img{
		width: 40px;
	}
	ul {
		text-align: center;
	 	margin: 0px !important;
	 	padding: 0px !important;
	}
  	li {
	  	display: inline-block;
	  	list-style: none;
  	}
}

.grid-sponsor-footer{
	flex: 0 0 25%;
	max-width: 25%;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 100px;
}