// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	nav{
		background: #8EDCEF;
	  	box-shadow:none;
	}

	.images-grid{
	  flex: 0 0 100%;
	  max-width: 100%;
	  padding-top: 15%;
	  background: #8EDCEF;
	}

	.img{
	  width: 100%;
	}

	.desc-grid{
	  flex: 0 0 100%;
	  max-width: 100%;
	  color: #fff;
	  font-size: 20px;
	  padding : 0px 10px 0px 10px;
	  background: #8EDCEF;
	  img{
	  	width: 300px;
	  	margin: auto;
	  	display: block;
	  }
	  h1{
	  	font-size: 30px;
	  }
	  p{
	  	font-size: 15px;
	  }
	}
}