html,body{height:100%;margin:0}body{font-family:'Concert One', cursive}.container{max-width:1300px !important}nav{padding:10px}nav li a{font-family:'Oxygen', sans-serif;font-size:14px;font-weight:100px;color:#fff	 !important;margin:0px 16px 8px 16px !important}li a:after{display:block;content:'';border-bottom:solid 2px #fff;transform:scaleX(0);transition:transform 250ms ease-in-out}li a:hover:after{transform:scaleX(1)}.nav-solid{background:linear-gradient(-45deg, #ad0ae8, #d91479);transition:top 0.5s ease;box-shadow:0 0 10px black;transition:background-color 1s ease}
