html,body{height:100%;margin:0}body{font-family:'Concert One', cursive}.container{max-width:1300px !important}.content-section{background-color:#8EDCEF;height:100%}.sin-row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.images-grid{flex:0 0 55%;max-width:55%;padding-top:10%}.img{width:100%}.desc-grid{flex:0 0 45%;max-width:45%;color:#fff;padding-top:20%;font-size:20px}
