@media (max-width: 575.98px){nav{background:#8EDCEF;box-shadow:none}.images-grid{flex:0 0 100%;max-width:100%;padding-top:15%;background:#8EDCEF}.img{width:100%}.desc-grid{flex:0 0 100%;max-width:100%;color:#fff;font-size:20px;padding:0px 10px 0px 10px;background:#8EDCEF}.desc-grid img{width:300px;margin:auto;display:block}.desc-grid h1{font-size:30px}.desc-grid p{font-size:15px}}
