@media (min-width: 768px) and (max-width: 991.98px){nav{background:#8EDCEF;box-shadow:none}.images-grid{flex:0 0 50%;max-width:50%;padding-top:5%;background:#8EDCEF}.img{width:100%}.desc-grid{flex:0 0 50%;max-width:50%;color:#fff;font-size:20px;padding:10% 10px 0px 10px;background:#8EDCEF}.desc-grid img{width:200px}.desc-grid h1{font-size:30px}.desc-grid p{font-size:15px}}
