$color-primary: #005ca9;

html, body{
    height: 100%;
    margin: 0;
}

body{
	font-family: 'Oxygen',sans-serif;
}

@font-face {
    font-family: "House Slant";
    src: url('../Web_Font/HouseSlant.eot');
    src: url("../Web_Font/HouseSlant.eot?#iefix") format("embedded-opentype"),
         url("../Web_Font/HouseSlant.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url("../oxygen/2sDfZG1Wl4LcnbuKgE0mRUe0A4Uc.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url("../oxygen/2sDfZG1Wl4LcnbuKjk0mRUe0Aw.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.nopadding{
	padding: 0 !important;
   	margin: 0 !important;
}

.container{
	max-width: 1200px !important;
}

.sindo-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.title-page{
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-bottom: 32px;
}

.fa-bars {
    color: #fff;
}
