@import 'global';

p{
  font-size: 14px;
  color: #5c6566;
}

// HEADER SECTION
.header-section{
	background-image: url("../images/bg-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1355px; 
	background-position: center;
	padding: 200px 0px 50px 0px;
}

.grid-logo-desc{
	flex: 0 0 50%;
	max-width: 50%;
	padding: 8px;
	margin-top: 100px;
}

.img-logo{
	width: 400px;
  margin: auto;
  display: block;
}

.desc-logo{
	color: #fff;
}

// SPONSOR SECTION
.sponsor-section{
	background-color: #fff;
	padding: 50px 0px 50px 0px;
}

.sponsor-title{
	color: #ff264c;
	font-family: "House Slant", script;
  text-align: center;
  padding-bottom: 32px;
  font-size: 50px;
}

.grid-sponsor{
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0px 128px 0px 128px;
}

.grid-sponsor-list{
	flex: 0 0 20%;
	max-width: 20%;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.img-sponsor{
	width: 100px ;
	display: block;
	margin: auto;
}

// NOMINATOR
.grid-nominator-1{
	flex: 0 0 25%;
	max-width: 25%;
	margin: 0px 0px 100px 0px;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.grid-nominator-2{
	flex: 0 0 33.33%;;
	max-width: 33.33%;;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.img-nominator{
	width: 250px;
	display: block;
	margin: auto;
}

.img-nominator:hover{
  width: 230px;
  display: block;
  margin: auto;
  transition: width 0.5s;
}

// EKONOMI SECTION
.ekonomi-section{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/bg-nominator-top.jpg");
  background-position: top;
  background-color: #ffa613;
  padding: 350px 0px 0px 0px;
}

.ekonomi-title{
	color: #fff;
	font-family: "House Slant", script;
	font-weight: bold;
  text-align: left;
  padding-bottom: 32px;
  font-size: 130px;
}

// SENI DAN BUDAYA
.seni-section{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/bg-nominator-bottom.jpg");
  background-position: top;
  background-color: #570d6d;
  padding: 350px 0px 0px 0px;
}

.seni-title{
	color: #fff;
	font-family: "House Slant", script;
  text-align: right;
  padding-bottom: 32px;
  font-size: 130px;
}

// OLAHRAGA
.olahraga-section{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/bg-nominator-mid.jpg");
  background-position: top;
  background-color: #ffa613;
  padding: 350px 0px 0px 0px;
}

.olahraga-title{
	color: #fff;
	font-family: "House Slant", script;
  text-align: left;
  padding-bottom: 32px;
  font-size: 130px;
  margin-top: 250px;
}

// PENDIDIKAN
.pendidikan-section{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/bg-nominator-bottom.jpg");
  background-position: top;
  background-color: #570d6d;
  padding: 500px 0px 0px 0px;
}

.pendidikan-title{
	color: #fff;
	font-family: "House Slant", script;
  text-align: right;
  padding-bottom: 32px;
  font-size: 130px;
}

// SOSIAL
.sosial-section{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/bg-nominator-mid.jpg");
  background-position: top;
  background-color: #ffa613;
  padding: 350px 0px 0px 0px;
}

.sosial-title{
	color: #fff;
	font-family: "House Slant", script;
  text-align: left;
  padding-bottom: 32px;
  font-size: 130px;
  margin-top: 250px;
}

// LINGKUNGAN
.lingkungan-section{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/bg-nominator-bottom.jpg");
  background-position: top;
  background-color: #570d6d;
  padding: 500px 0px 0px 0px;
}

.lingkungan-title{
	color: #fff;
	font-family: "House Slant", script;
  text-align: right;
  padding-bottom: 32px;
  font-size: 130px;
}

// KESEHATAN
.kesehatan-section{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/bg-nominator-mid.jpg");
  background-position: top;
  background-color: #ffa613;
  padding: 350px 0px 0px 0px;
}

.kesehatan-title{
	color: #fff;
	font-family: "House Slant", script;
  text-align: left;
  padding-bottom: 32px;
  font-size: 130px;
  margin-top: 250px;
}


// DETAIL CSS
// PROFILE
.profil-section{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/bg-header-detail.jpg");
  background-position: top;
  background-color: #fffae9;
  padding: 50px 0px 50px 0px;
}

.grid-img-profil{
  flex: 0 0 40%;
  max-width: 40%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.grid-desc{
  flex: 0 0 60%;
  max-width: 60%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.img-profil{
  width: 350px;
  margin: auto;
  display: block;
  padding-top: 16px;
}

.kategori-nominasi{
  color: #dc2a4c;
  font-family: "House Slant", script;
  text-align: left;
  font-size: 60px;
}

.desc-profil{
  border-top: 2px solid #dc2a4c;
  padding-top: 8px;
  color: #dc2a4c;
}

.grid-voting{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 60px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/bg-vote.png");
  height: 300px;
  margin-top: 150px;
}

.btn-vote{
  right: 165px;
  position: absolute;
  width: 420px;
  font-size: 60px;
  background: linear-gradient(41deg, #f50451, #ff9f00);
  color: #fff;
}

.btn-vote:hover{
  right: 165px;
  position: absolute;
  width: 420px;
  font-size: 60px;
  background: linear-gradient(41deg, #ff9f00, #f50451);
  color: #fff;
}

// NEWS
.news-section{
  background-color: #e27849;
  padding: 50px 0px 50px 0px;
}

.artikel {
    color: #fff;
    font-family: "House Slant", script;
    text-align: left;
    font-size: 80px;
    position: absolute;
    z-index: 99;
    margin-top: -155px;
    // margin-bottom: 30px;
    background-color: #e27849;
    padding: 0px 30px 0px 30px;
}

.news-hr{
  border: 6px solid #fff;
}

.grid-news{
  margin-top: 100px;
  a{
    text-decoration: none;
    color: #000;
  }
}

.news-list{
  width: 100%;
}

.news-list{
  background-color: #fff;
  border-bottom: 1px solid #b8b6b5;
  padding: 8px;
}

.news-list:hover{
  background-color: #f1f0ef;
  border-bottom: 1px solid #b8b6b5;
  padding: 8px;
}

.grid-news-image{
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
}

.img-news{
  width: 300px;
  height: 200px;
}

.grid-news-detail{
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.news-title{
  font-weight: bold;
}

.news-date{
  color: #919191;
  font-size: 12px;
}

// Paging
.grid-more{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  border-radius: 8px;
  background-color: #b55e37;
  font-weight: bold;
  border:1px solid #fff;
  a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px;
  }
}

.grid-more:hover{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  font-weight: bold;
  border:1px solid #b55e37;
  a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 15px;
  }
}

