// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

	nav{
		background: linear-gradient(-45deg, #ad0ae8, #d91479);
	}

	//HEADER SECTION
	.header-section{
		height: auto; 
		background: linear-gradient(-45deg, #ffa800, #ff772c);
		padding: 30px 0px 120px 0px;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 90%, 0 80%);
	}

	.grid-logo-desc{
		flex: 0 0 100%;
		max-width: 100%;
		padding: 8px;
		margin-top: 30px;
	}

	.img-logo{
		width: 250px;
	}

	// SPONSOR SECTION
	.sponsor-section{
		padding: 0px 0px 30px 0px;
	}

	.sponsor-title{
		color: #ff264c;
		font-family: "House Slant", script;
	  	text-align: center;
	  	padding-bottom: 15px;
	  	font-size: 20px;
	}

	.grid-sponsor{
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0px 15px 0px 15px;
	}

	.grid-sponsor-list{
		flex: 0 0 20%;
		max-width: 20%;
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}

	.img-sponsor{
		width: 50px;
	}

	// NOMINATOR
	.grid-nominator-1{
		flex: 0 0 50%;
		max-width: 50%;
		margin: 0px 0px 0px 0px;
	}

	.grid-nominator-2{
		flex: 0 0 50%;;
		max-width: 50%;;
	}

	.img-nominator{
		width: 150px;
	}

	.img-nominator:hover{
		width: 140px;
	}

	// EKONOMI SECTION
	.ekonomi-section{
		padding: 100px 0px 0px 0px;
	}

	.ekonomi-title{
		text-align: center;
		padding-bottom: 20px;
		font-size: 70px;
	}

	// SENI DAN BUDAYA
	.seni-section{
	  	padding: 100px 0px 0px 0px;
	}

	.seni-title{
		text-align: center;
		padding-bottom: 20px;
		font-size: 70px;
	}

	// OLAHRAGA
	.olahraga-section{
	  	padding: 100px 0px 0px 0px;
	}

	.olahraga-title{
		text-align: center;
		padding-bottom: 20px;
		font-size: 70px;
		margin-top: 50px;
	}

	// PENDIDIKAN
	.pendidikan-section{
		padding: 140px 0px 0px 0px;
	}

	.pendidikan-title{
		text-align: center;
		padding-bottom: 20px;
		font-size: 70px;
	}

	// SOSIAL
	.sosial-section{
		padding: 100px 0px 0px 0px;
	}

	.sosial-title{
		text-align: center;
		padding-bottom: 20px;
		font-size: 70px;
		margin-top: 50px;
	}

	// LINGKUNGAN
	.lingkungan-section{
		padding: 140px 0px 0px 0px;
	}

	.lingkungan-title{
		text-align: center;
		padding-bottom: 20px;
		font-size: 70px;
	}	

	// KESEHATAN
	.kesehatan-section{
		padding: 140px 0px 0px 0px;
	}

	.kesehatan-title{
		text-align: center;
		padding-bottom: 20px;
		font-size: 70px;
		margin-top: 50px;
	}


	// DETAIL CSS
	// PROFILE
	.profil-section{
		padding: 30px 0px 30px 0px;
	}

	.grid-img-profil{
		flex: 0 0 100%;
		max-width: 100%;
	}

	.grid-desc{
		flex: 0 0 100%;
		max-width: 100%;
	}

	.img-profil{
		width: 250px;
		padding-top: 5px;
	}

	.kategori-nominasi{
		font-size: 40px;
		text-align: center;
	}

	.desc-profil{
		border-top: 2px solid #dc2a4c;
		padding-top: 8px;
		color: #dc2a4c;
		font-size: 12px;
	}

	.grid-voting{
		flex: 0 0 90%;
		max-width: 90%;
		margin: 20px 15px 0px 15px;
		height: 70px;
	}

	.btn-vote{
		right: 45px;
		width: 120px;
		font-size: 14px;
		top: 16px;
	}

	.btn-vote:hover{
	  	right: 42px;
		width: 120px;
		font-size: 14px;
		top: 16px;
	}

	// NEWS
	.news-section{
		padding: 30px 0px 30px 0px;
	}

	.artikel {
	    text-align: center;
	    font-size: 40px;
	    position: absolute;
	    z-index: 99;
	    margin-top: -75px;
	    padding: 0px 20px 0px 20px;
	}

	.news-hr{
		border: 3px solid #fff;
	}

	.grid-news{
		margin-top: 50px;
		a{
			text-decoration: none;
			color: #000;
	  	}
	}

	.news-list{
		width: 95%;
		padding: 5px;
		margin: 0px 10px 0px 10px;
	}

	.news-list:hover{
		padding: 5px;
	}

	.grid-news-image{
		flex: 0 0 30%;
		max-width: 30%;
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		overflow: hidden;
	}

	.grid-news-detail{
		flex: 0 0 70%;
		max-width: 70%;
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}

	.img-news{
		width: 100px;
		height: 60px;
	}

	.news-title{
		font-weight: bold;
		font-size: 13px;
	}

	.news-date{
		display: none;
	}

	.news-desc{
		display: none;
	}

	// Paging
	.grid-more{
		flex: 0 0 95%;
		max-width: 95%;
		position: relative;
		width: 95%;
		margin: 30px 10px 0px 10px;
		a{
			padding: 10px;
		}
	}

	.grid-more:hover{
		flex: 0 0 95%;
		max-width: 95%;
		position: relative;
		width: 95%;
		margin: 30px 10px 0px 10px;
		a{
			padding: 10px;
		}
	}

	// FOOTER
	footer #footer{
	  	padding: 130px 0px 30px 0px;
	}

	footer #footer-detail{
		background-image: none;
	  	background-color: #fffae9;
	  	padding: 30px 20px 30px 20px;
	}

	.logo-footer,{
	  	width: 200px;
	}

	.copy{
		margin-top: 10px;
		font-size: 12px;
	}

	.social {
		img{
			width: 25px;
		}
	}

	.grid-sponsor-footer{
		flex: 0 0 25%;
		max-width: 25%;
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-bottom: 30px;
	}

}