@import "global";

footer{
	border-top: solid 5px #bd8410;
  	background: #d0ad72;
  	padding: 50px 0px 50px 0px;
}

.media-sindo-box{
	margin-top: 100px;
}

.media-sindo{
	width: 300px;
	position: absolute;
	margin-top: -100px;
	right: 50px;
}

.logo-footer,{
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 250px;
}

.copy{
	margin-top: 15px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.social {
	img{
		width: 40px;
	}
	ul {
		text-align: center;
	 	margin: 0px !important;
	 	padding: 0px !important;
	}
  	li {
	  	display: inline-block;
	  	list-style: none;
  	}
}

.grid-sponsor-footer{
	flex: 0 0 25%;
	max-width: 25%;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 100px;
}