@import 'global';

p{
  font-size: 18px;
}

// HEADER SECTION
.img-home{
  width: 100%;
}

// PROLOG
.prolog-section{
  background-image: url("../images/bg-right-prolog.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #fbf2d4;
  padding: 50px 0px 50px 0px;
}

// KONSEP
.konsep-section{
  background-image: url("../images/bg-left-konsep.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #fbf2d4;
  padding: 50px 0px 50px 0px;

  li{
    font-size: 18px
  }
}

.title-konsep{
  text-align: center;
}

.hr-konsep{
  border: solid 1px #000;
  width: 40px;
}

// TIMELINE
  .timeline-section{
    background-color: #f9f5e7;
    padding: 50px 0px 50px 0px;
  }

  .title-timeline{
    text-align: center;
  }

  .hr-timeline{
    border: solid 1px #000;
    width: 40px;
  }

.desc-timeline-border{
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #826e44, #eaa800);
  padding: 5px;
}

.desc-timeline{
  text-align: center;
  background: #f9f5e7;
  color: #000;
  padding: 2rem;
}

// JURI
.juri-section{
  background-color: #f9f5e7;
  padding: 50px 0px 50px 0px;
}

.title-juri{
  text-align: center;
}

.hr-juri{
  border: solid 1px #000;
  width: 40px;
}

.img-juri{
  width: 70%;
  margin: auto;
  display: block;
}

// PENGUKURAN
.pengukuran-section{
  background-image: url("../images/bg-right-dimensi.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #fbf2d4;
  padding: 50px 0px 50px 0px;

  li{
    font-size: 18px
  }

  h5{
    font-size: 22px
  }
}

.title-pengukuran{
  text-align: center;
}

.hr-pengukuran{
  border: solid 1px #000;
  width: 40px;
}

// FOTO
.foto-section{
  background-color: #f9f5e7;
  padding: 50px 0px 50px 0px;
}

.title-foto{
  text-align: center;
}

.hr-foto{
  border: solid 1px #000;
  width: 40px;
}

.foto-frame{
  padding-bottom: 35px;
}

.foto{
  width: 100%;
  height: 350px;
}

.img-foto{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.desc-foto{
  background: linear-gradient(transparent,rgba(30,30,30,.8)) repeat-x;
  position: absolute;
  text-align: center;
  color: #fff;
  left: 15px;
  right: 15px;
  bottom: 35px;
  max-height: 100%;
  padding: 32px 10px 10px;
}

.foto-slide{
  width: 100%
}

// VIDEO
.video-section{
  background-image: url("../images/bg-left-video.png"), url("../images/bg-right-video.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #fbf2d4;
  padding: 50px 0px 50px 0px;
}

.title-video{
  text-align: center;
}

.hr-video{
  border: solid 1px #000;
  width: 40px;
}

.video{
  width: 100%;
  height: 600px;
}