// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	p{
	  font-size: 14px;
	}

	// HEADER SECTION
	.img-home{
		width: 100%;
	}

	// PROLOG
	.prolog-section{
		background-size: 200px;
		padding: 30px 0px 30px 0px;
	}

	// KONSEP
	.konsep-section{
		background-size: 200px;
		padding: 30px 0px 30px 0px;

		li{
			font-size: 14px
		}
	}

	.title-konsep{
		font-size: 20px
	}

	.hr-konsep{
		width: 30px;
	}
	
	// TIMELINE
	.timeline-section{
	    padding: 30px 0px 30px 0px;
  	}

	.title-timeline{
		font-size: 20px
	}

	.hr-timeline{
		width: 30px;
	}

	// JURI
	.juri-section{
		padding: 30px 0px 30px 0px;
	}

	.title-juri{
		font-size: 20px
	}

	.hr-juri{
		width: 30px;
	}

	.img-juri{
		width: 70%;
	}

	// PENGUKURAN
	.pengukuran-section{
		background-size: 200px;
		padding: 30px 0px 30px 0px;

		li{
			font-size: 14px
		}

		h5{
			font-size: 18px
		}
	}

	.title-pengukuran{
		font-size: 20px
	}

	.hr-pengukuran{
		width: 30px;
	}
	
	// FOTO
	.foto-section{
		padding: 30px 0px 30px 0px;
	}

	.title-foto{
		font-size: 20px
	}

	.hr-foto{
		width: 30px;
	}

	.foto-frame{
		padding-bottom: 10px;
	}

	.foto{
		width: 100%;
		height: 360px;
	}

	.desc-foto{
		left: 15px;
		right: 15px;
		bottom: 10px;
		font-size: 14px;
		padding: 30px 0px 5px;
	}

	// VIDEO
	.video-section{
		padding: 30px 0px 30px 0px;
	}

	.title-video{
		font-size: 20px
	}

	.hr-video{
		width: 30px;
	}

	.video{
		width: 100%;
		height: 500px;
	}

	// FOOTER
	footer{
	  	padding: 30px 0px 30px 0px;
	}

	.logo-footer,{
	  	width: 300px;
	}

	.social {
		img{
			width: 35px;
		}
	}

	.copy{
		font-size: 14px;
	}
}