@import "global";

.footer{
	background-color: #333;
	padding: 70px 0px 70px 0px;
	border-top: solid 5px #cd1723;
	width: 100%;
}

.media-sindo-box{
	margin-top: 100px;
}

.media-sindo{
	width: 300px;
	position: absolute;
	margin-top: -100px;
	right: 50px;
}

.logo-footer,{
	margin: auto;
	display: block;
  	width: 300px;
}

.social {
	img{
		width: 35px;
	}
	
	img:hover{
		width: 30px;
	}

	ul {
		text-align: center;
	 	margin-top: 16px;
	 	padding: 0px !important;
	}
  	li {
	  	display: inline-block;
	  	list-style: none;
	  	padding: 0px 5px 5px 0px;
  	}
}

.r-foot-left{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.r-foot-right{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.nasional, .daerah, .multimedia, .media, .iklan, .management{
	flex: 0 0 20%;
	max-width: 20%;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 20px;

	a{
		color: #fff;
		text-decoration: none;
	}
	a:hover{
		color: #cd1723;
	}
	ul {
	 	padding: 0px !important;
	}
  	li {
	  	// display: inline-block;
	  	list-style: none;
	  	padding: 0px 5px 5px 0px;
  	}
}

.title-site{
	color: #df860c;
	font-weight: bold;
}

.copyright{
	background-color: #575555;
	padding: 20px 0px 20px 0px;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 12px;
}