@import 'global';

.mobile{
    display: none !important;
}

.section-header{
  height: 1000px;
  z-index: 10;
  position: relative;
  display: block;
  background-color: #1f6cb5;
}

.head-par{
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: fixed;
  height: 1000px;
}

#par-1{
  background-image: url('../images/paralax/par-1.png');
}

#par-2{
  background-image: url('../images/paralax/par-2.png');
}

#par-3{
  background-image: url('../images/paralax/par-3.png');
}

#par-4{
  background-image: url('../images/paralax/par-4.png');
}

#par-5{
  background-image: url('../images/paralax/par-5.png');
}

.sin-container{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
  position: relative;
  margin-top: -100px;
}

// ABOUT

.section-about{
  margin-top: -50px;
  background-color: #006DB0;
  padding: 30px 0px 70px 0px;
}

.img-logo-about{
  margin: auto;
  display: block;
  width: 350px;
}

.tagline{
  text-align: center;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 50px;
}

.title-about{
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.hr-about{
  border: solid 1px #fff;
  width: 70px;
}

.desc-about{
  color: #fff;
  padding: 0px 60px 0px 60px;
}

.sin-row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.direksi{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  text-align: center;
}

.title-direksi{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 13px;
  padding-right: 5px;
}

.nama-direksi{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.redaksi{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  text-align: center;
}

.title-redaksi{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 13px;
  padding-right: 5px;
}

.nama-redaksi{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding-right: 10px;
}

.nama-redaksi-sec{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: 23px;
  padding-right: 10px;
}

.nama-redaksi-tri{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-right: 10px;
}


// DISCLAIMER

.section-disclaimer{
  background-image: url("../images/bg-disclaimer-top.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #fff;
  padding: 70px 0px 70px 0px;
  background-size: 300px;
}

.title-disclaimer{
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.hr-disclaimer{
  border: solid 1px #000;
  width: 70px;
}

.desc-disclamer{
  padding: 20px 60px 0px 60px;
}

// KODE ETIK

.section-etik{
  background-image: url("../images/bg-disclaimer-bottom.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 300px;
  background-color: #75b984;
  padding: 70px 0px 70px 0px;
}

.title-etik{
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.hr-etik{
  border: solid 1px #fff;
  width: 70px;
}

.desc-etik{
  padding: 20px 60px 0px 60px;
  color: #fff;
  h6{
    text-align: center;
  }
}

// CLIENT

.section-client{
  background-color: #ff6;
  padding: 70px 0px 70px 0px;
}

.title-client{
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  color: #666;
  font-weight: bold;
}

.hr-client{
  border: solid 1px #666;
  width: 70px;
}

.desc-client{
  padding: 20px 60px 0px 60px;
  color: #666;
}

.r-client{
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
}

.btn-more{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-top: 20px;
}

// MAPS
.section-maps{
  background-color: #5898d9;
}

// KONTAK
.section-kontak{
  background-image: url("../images/bg-kontak.png");
  background-repeat: no-repeat;
  background-position: 95% 350px;
  background-size: 300px;
  background-color: #5898d9;
  padding: 70px 0px 70px 0px;
}

.title-kontak{
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.hr-kontak{
  border: solid 1px #fff;
  width: 70px;
}

.desc-kontak{
  padding: 20px 60px 0px 60px;
  color: #fff;

  h5, p{
    text-align: center;
  }
}

.r-kontak{
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  text-align: center;
}