// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
	.mobile{
	    display: none;
	}

	.section-etik{
		background-position: -70px 100%;
	  	background-size: 200px;
	}

	.section-kontak{
	  background-position: 115% 420px;
	}
}