// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	html, body{
		p{
			font-size: 14px;
		}
	}
	
	.mobile{
		display: block !important;
	}
	
	.desktop{
		display: none;
	}

	.section-header{
		background-image: url('../images/bg-home-mobile.jpg');
		background-position: center;
		background-repeat: no-repeat;
		height: 400px;
		background-size: 100%;
	}

	.sin-container{
	  margin-top: 0px;
	}

	// ABOUT
	.section-about{
	  margin-top: 0px;
	  background-color: #006DB0;
	  padding: 0px 0px 30px 0px;
	}

	.img-logo-about{
	  margin: auto;
	  display: block;
	  width: 250px;
	}

	.tagline{
	  font-size: 17px;
	  margin-bottom: 20px;
	}

	.title-about{
	  font-size: 20px;
	}

	.hr-about{
	  width: 30px;
	}

	.desc-about{
	  color: #fff;
	  padding: 0px 1px 0px 1px;
	}
	
	.direksi{
		text-align: left;
	}

	.title-direksi{
	  font-size: 14px;
	}

	.nama-direksi{
	  font-size: 23px;
	}
	
	.redaksi{
	  text-align: left;
	}

	.title-redaksi{
	  font-size: 12px;
	}

	.nama-redaksi{
	  font-size: 17px;
	}

	// DISCLAIMER
	.section-disclaimer{
	  background-image: none;
	  padding: 30px 0px 30px 0px;
	}

	.title-disclaimer{
	  font-size: 20px;
	}

	.hr-disclaimer{
	  width: 30px;
	}

	.desc-disclamer{
	  padding: 0px 1px 0px 1px;
	  font-size: 14px;
		
	  ol{
	  	padding-left: 15px;
	  }

	  li{
		padding-left: 0px;
	  }
	}

	// KODE ETIK
	.section-etik{
	  background-image: none;
	  padding: 30px 0px 30px 0px;
	}

	.title-etik{
	  font-size: 20px;
	}

	.hr-etik{
	  width: 30px;
	}

	.desc-etik{
	  padding: 0px 1px 0px 1px;
	  font-size: 14px;
		
	  ol{
	  	padding-left: 15px;
	  }

	  li{
		padding-left: 0px;
	  }
	}

	// KONTAK
	.section-kontak{
	  background-image: none;
	  padding: 30px 0px 30px 0px;
	}

	.title-kontak{
	  font-size: 20px;
	}

	.hr-kontak{
	  width: 30px;
	}

	.desc-kontak{
	  padding: 0px 1px 0px 1px;

	  h5, p{
	    font-size: 14px;
	  }
	}

	.img-kontak{
		width: 90px;
	}

	.r-kontak{
	  flex: 0 0 50%;
	  max-width: 50%;
	}

	// FOOTER
	.footer{
		padding: 30px 0px 30px 0px;
	} 
	
	.nasional, .daerah, .multimedia, .media, .iklan, .management{
		flex: 0 0 25%;
		max-width: 25%;
		padding-top: 0px;
		font-size: 14px;
	}

	.management{
		flex: 0 0 100%;
		max-width: 100%;
		padding-top: 10px;
		text-align: center;
		font-size: 14px;

		li {
		  	display: inline-block;
	  	}
	}

	.logo-footer,{
	  	width: 200px;
	}

	.social {
		img{
			width: 25px;
		}
		
		img:hover{
			width: 23px;
		}
	}
}