// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) and (max-width: 1500px) {
	.mobile{
	    display: none;
	}

	.section-etik{
		background-position: -70px 100%;
	  	background-size: 250px;
	}

	.section-kontak{
	  background-position: 112% 392px;
	}
}