html,body{height:100%;margin:0}body{font-family:Open Sans,sans-serif}.nopadding{padding:0 !important;margin:0 !important}.container{max-width:1200px !important}.title-section{font-size:2rem;font-weight:bold}
