@import "global";

footer{
	background-image: url("../images/bg-footer.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	padding: 50px 0px 30px 0px;
}

.media-sindo-box{
	margin-top: 100px;
}

.media-sindo{
	width: 300px;
	position: absolute;
	margin-top: -100px;
	right: 50px;
}

.logo-footer,{
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.copy{
	margin-top: 15px;
	font-size: 16px;
	color: #585858;
}

.social {
	img{
		width: 40px;
	}
	ul {
		text-align: center;
	 	margin: 0px !important;
	 	padding: 0px !important;
	}
  	li {
	  	display: inline-block;
	  	list-style: none;
  	}
}