@import 'global';

p{
  font-size: 14px;
  color: #5c6566;
}

$font-title : 'Russo One', sans-serif;
$red-dark : #75121c;
$red-light : #bf1e2e;

.hr-white{
  border: 1px solid #fff;
  margin-bottom: 30px;
}

.hr-red{
  border: 1px solid $red-dark;
  margin-bottom: 30px;
}

.hr-cool{
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

// HEADER SECTION
.header-section{
  margin-top: 55px;
  border-top: 5px solid $red-light;
  border-bottom: 10px solid $red-dark;
}

.img-logo{
  position: absolute;
  top: 1%;
  left: 41%;
  z-index: 99;
  width: 250px;
  background-color: #fff;
  padding: 15px 30px 15px 30px;
  border-radius: 15px;
  border-bottom: 3px solid #cecaca;
}

.carousel-item {
  img{
    width: 100%
  }
}

// ABOUT SECTION
.about-section{
  background-size: 120px;
  background-image: url("../images/bg-about.png");
  background-repeat: no-repeat;
  background-color: #bf1e2e;
  background-position:left center;
  padding: 50px 0px 50px 0px;
}

.title-about{
  font-family: $font-title;
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.about-desc{
  p{
    color: #fff !important;
  }
}

.img-about{
  img{
    width: 100% !important;
    border: 5px solid $red-dark;
    border-radius: 15px;
    vertical-align: middle;
  }
}

// ARTIKEL SECTION
.artikel-section{
  background-color: #fff;
  padding: 50px 0px 50px 0px;
}

.title-artikel{
  font-family: $font-title;
  font-size: 40px;
  color: $red-dark;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 350px;
  a{
    text-decoration: none;
  }
  margin-bottom: 35px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.artikel-img{
  width: 100%;
  height:160px;
}

.artikel-title{
  color: #000;
  padding-top: 10px;
  h6{
    line-height: 21px;
    font-weight: bold;
  }
}

.artikel-date{
  margin-top: 10px;
  p{
    color: #ccc;
    font-size: 12px;
  }
}

.artikel-desc{
  margin-top: 15px;
  color: #5c6566;
  height: 65px;
  overflow: hidden;
  margin-bottom: 15px;
}

// Paging
.center {
  text-align: center;
}

.pagination {
    display: inline-block;
    padding:0px 0px 10px 0px;
}

.pagination a {
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid $red-dark;
  margin: 0 4px;
  background-color: $red-dark;
}

.pagination a.active {
  background-color: #fff;
  color: $red-dark;
  border: 1px solid $red-dark;
}

.pagination a:hover:not(.active) {
  background-color: $red-light;
}

// KATEGORI SECTION
.kategori-section{
  background-image: url("../images/bg-kategori.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #efefef;
  padding: 50px 0px 50px 0px;
}

.kategori-title{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 35px;
  img{
    width: 370px;
  }
}

.kategori{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 60px;
  img{
    width: 100%;
  }
}

.step{
  margin-left: 100px;
  margin-right: 100px;
  img{
      width: 80%;
      display: block;
      margin: auto;
  }
}

// JURI SECTION
.juri-section{
  background-color: #f7f7f7;
  padding: 50px 0px 50px 0px;
}

.title-juri{
  font-family: $font-title;
  font-size: 40px;
  color: $red-dark;
  text-align: center;
  margin-bottom: 20px;
}

.foto-juri{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// KONTAK SECTION
.kontak-section{
  background-image: url("../images/bg-kontak.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0px 50px 0px;
}

.regitrasi-text{
  font-family: $font-title;
  font-size: 70px;
  color: #585858;
  text-align: center;
  margin-bottom: 50px;
}

.btn-register{
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.kontak-text{
  font-family: $font-title;
  font-size: 70px;
  color: #585858;
  text-align: center;
  margin-bottom: 50px;
}

.detil-kontak{
  text-align: center;
  font-size: 30px;
}