@import 'global';

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	$font-title : 'Russo One', sans-serif;
	$red-dark : #75121c;
	$red-light : #bf1e2e;

	html, body{
		p{
			font-size: 14px;
		}
	}

	.hr-white{
	  margin-bottom: 10px;
	}

	.hr-red{
	  margin-bottom: 10px;
	}

	hr{
		width: 100% !important;
	}

	// HEADER SECTION
	.header-section{
	  margin-top: 40px;
	  border-top: 3px solid $red-light;
	  border-bottom: 6px solid $red-dark;
	}

	.img-logo{
	  position: absolute;
	  top: 1%;
	  left: 38%;
	  z-index: 99;
	  width: 180px;
	  background-color: #fff;
	  padding: 10px 17px 10px 17px;
	  border-radius: 10px;
	  border-bottom: 2px solid #cecaca;
	}

	// ABOUT SECTION
	.about-section{
	  padding: 10px 0px 10px 0px;
	}

	.title-about{
	  font-size: 25px;
	  margin-bottom: 10px !important;
	}

	// ARTIKEL SECTION
	.artikel-section{
	  	padding: 10px 0px 10px 0px;
	}

	.title-artikel{
	  font-size: 25px;
	  margin-bottom: 10px !important;
	}

	.card {
	  height: 405px;
	  margin-bottom: 18px;
	}

	.artikel-img{
		height: 210px;
	}

	// KATEGORI SECTION
	.kategori-section{
	  padding: 30px 0px 30px 0px;
	}

	.kategori-title{
	  img{
	    width: 300px;
	  }
	}

	.kategori{
	  justify-content: center;
	  display: flex;
	  flex-wrap: wrap;
	  margin-right: 0px;
	  margin-left: 0px;
	  margin-bottom: 60px;
	  img{
	  	margin-bottom: 20px;
	  }
	}

	.step{
		margin-left: 0px;
  		margin-right: 0px;
	  	img{
		    width: 80%;
		    margin-bottom: 30px !important;
		    display: block;
	  		margin: auto;
	  	}
	}

	// JURI SECTION
	.juri-section{
	  background-color: #f7f7f7;
	  padding: 10px 0px 10px 0px;
	}

	.title-juri{
	  font-size: 25px;
	  margin-bottom: 10px !important;
	}

	.foto-juri{
	  width: 100%;
	}

	// KONTAK SECTION
	.kontak-section{
	  padding: 10px 0px 10px 0px;
	}

	.regitrasi-text{
	  font-size: 30px;
	  margin-bottom: 30px;
	}

	.btn-register{
	  margin-bottom: 30px;
	  width: 50%;
	}

	.kontak-text{
	  font-size: 30px;
	  margin-bottom: 30px;
	}

	.detil-kontak{
	  font-size: 14px;
	}

	// FOOTER
	.copy{
		font-size: 14px;
	}
	
}