@import 'global';

p{
	font-size: 13px;
	color: #5c6566;
}

.blue{
	color: #0a4d8d;
	font-weight: bold;
	font-size: 25px;
}

.red{
	color: #cd1723;
	font-weight: bold;
	font-size: 25px;
}

.white{
	color: #fff;
	font-weight: bold;
	font-size: 25px;
}

// HEADER SECTION
.header-section{
	background-image: url("../images/background-hut.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-color: #fff;
  	width: 100%;
  	padding: 30px 0px 30px 0px;
}

.logo-header{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;

	img{
		width: 300px;
	}
}

// VIDEO SECTION
.video-section{
	background-image: url("../images/background-hut5.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-color: #fff;
  	width: 100%;
  	padding: 30px 0px 30px 0px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// ARTIKEL SECTION
.artikel-section{
  	background-color: #fff;
  	width: 100%;
  	padding: 30px 0px 30px 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  a{
  	text-decoration: none;
  }
  margin-bottom: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.artikel-img{
	width: 100%;
	height:160px;
}

.artikel-title{
	color: #000;
	padding-top: 10px;
	
	height: 50px;
	overflow: hidden;
	h6{
		line-height: 21px;
		font-weight: bold;
	}
}

.artikel-date{
	margin-top: 10px;
	p{
		color: #ccc;
		font-size: 12px;
	}
}

.artikel-desc{
	margin-top: 15px;
	color: #5c6566;
	height: 135px;
	overflow: hidden;
	margin-bottom: 15px;
}

// Paging
.center {
  text-align: center;
}

.pagination {
  	display: inline-block;
  	padding:30px 0px 10px 0px;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination a.active {
	background-color: #0a4d8d;
	color: white;
	border: 1px solid #0a4d8d;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

// ACHIEVEMENT SECTION
.achievement-section{
	background-image: url("../images/background-hut4.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-color: #fff;
  	width: 100%;
  	padding: 30px 0px 30px 0px;
}

.counter{
	padding-left: 20px;
	text-align: left;

	.border-right{
		border-right: 1px solid rgba(0,0,0,0.1);
	}
}

.icon{
	color:#fff;
	margin-bottom: 30px;
	font-size: 5em;
}

.odometer {
	color:#fff;
    font-size: 100px;
}

.odo-sym {
	color:#fff;
    font-size: 60px;
}

.counter-total{
	color:#fff;
	font-size: 40px;
}

.counter-details {
   font-size:20px;
   color:#fff;
}

// NEW PRODUCT SECTION
.newproduct-section{
	// background-image: url("../images/bg-head.jpg");
  	// background-repeat: no-repeat;
  	// background-size: cover;
  	background-color: #fff;
  	width: 100%;
  	padding: 30px 0px 30px 0px;
}

.carousel{
	padding: 0px;
}

.carousel-control{
	width: 75px;
	position: relative;
	z-index: 999;
	margin-top: -30px;
	margin-left: 44%;
	color: #000;
}

.carousel-prev{
	float: left;
}

.carousel-next{
	float: right;
}

.fa-chevron-circle-right, .fa-chevron-circle-left{
	color: #dfdfdf;
}

.carousel-img{
	img{
		width: 100%;
	}
}

.carousel-title{
	h5{
		font-weight: bold;
	}
}

.carousel-desc{
	height: 157px;
	overflow: hidden;
}

// THANKS SECTION
.thanks-section{
	// background-image: url("../images/bg-head.jpg");
  	// background-repeat: no-repeat;
  	// background-size: cover;
  	background-color: #fff;
  	width: 100%;
  	padding: 30px 0px 30px 0px;
}

.title-thanks{
	font-size:30px;
	text-align: center;
	margin-bottom: 20px;
}