// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

	html, body{
		p{
			font-size: 14px;
		}
	}

	.blue{
		font-size: 18px;
	}

	.red{
		font-size: 18px;
	}

	.white{
		font-size: 18px;
	}

	// HEADER SECTION
	.header-section{
		background-image: url("../images/") !important;
	  	background-repeat: no-repeat;
	  	background-size: cover;
	  	background-color: #fff;
	  	width: 100%;
	  	padding: 30px 0px 10px 0px;
	}

	.logo-header{
		img{
			width: 250px;
		}
	}

	// ARTIKEL SECTION
	.artikel-section{
	  	background-color: #fff;
	  	width: 100%;
	  	padding: 10px 0px 10px 0px;
	}

	.artikel-img{
		height: 210px;
	}

	// ACHIEVEMENT SECTION
	.achievement-section{
	  	background-color: #fff;
	  	width: 100%;
	  	padding: 10px 0px 10px 0px;
	}

	.counter{
		padding-left: 0px;
		padding-right: 0px;
		text-align: left;

		.border-right{
			border-right: 1px solid rgba(0,0,0,0.1);
		}
	}

	.icon{
		margin-bottom: 15px;
		font-size: 2em;
	}

	.odometer {
    	font-size: 40px;
	}

	.odo-sym {
	    font-size: 20px;
	}

	.counter-total{
		font-size: 17px;
	}

	.counter-details {
   		font-size: 8px;
	}

	// NEW PRODUCT SECTION
	.newproduct-section{
	  	background-color: #fff;
	  	width: 100%;
	  	padding: 10px 0px 10px 0px;
	}

	.carousel-img{
		img{
			margin-bottom: 15px;
		}
	}

	.carousel-desc{
		height: 295px;
	}

	.carousel-control{
		margin-top: 11px;
		margin-left: 15px;
	}

	// THANKS SECTION
	.thanks-section{
	  	background-color: #fff;
	  	width: 100%;
	  	padding: 10px 0px 10px 0px;
	}

	// FOOTER
	.media-sindo-box{
		margin-top: 100px;
	}

	.media-sindo{
		width: 174px;
		position: absolute;
		margin-top: -75px;
		right: 0px;
	}

	.logo-footer,{
		width: 200px;
	}

	.social {
		img{
			width: 30px;
		}
	}
}